h2 {
    text-align: center;
}
.products {
    margin: 25px 500px;
}
.sizes, .stuffings {
    display: flex;
    justify-content: space-evenly;
}
.stuffings {
    margin: 15px 0;
}
.product {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.topping .product {
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

